html,
body {
    height: 100%;
}

.movie-list {
    margin: 10px auto;
}

.movie-list .movie-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.movie-list .movie-item .title {
    font-weight: bold;
    font-size: 15px;
    margin: 5px 0;
}

.movie-list .movie-item .date {
    font-size: 14px;
    font-weight: 500;
}

.movie-list .movie-item .rating {
    font-size: 14px;
    font-weight: 500;
}

.movie-list .movie-item .rating-bar span{
    outline: 0;
}

.movie-list .movie-item .rating-bar i.glyphicon-star{
    color: #337ab7;
}

